@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
/*font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif;*/

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor{
    width: 450px;
    height: 350px;
    display: flex;
    border-radius: 20px;
}

.sec1{
    width: 50%;
    border-radius: 20px 0 0 20px;
}

.img{
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:100%;
    border-radius: 20px 0 0 20px;
}

.sec2{
    width: 50%;
    border-radius: 0 20px 20px 0;
    background-color: hsl(0, 0%, 100%);
    text-align: start;
    padding: 10px 26px;
}

.sec2 > p {

    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
}

.p1{
    letter-spacing: 3px;
    font-size: 10px;
}

.p2{
    font-size: 10px;
}

.sec2 h1{
    font-size: 1.6rem;
    font-family: 'Fraunces', serif;
    color: hsl(212, 21%, 14%);
    margin-top: 0;
    margin-bottom: 10px;
}

.sec2--div{
    width: 100%;
    font-family: 'Fraunces', serif;
    display: flex;
    justify-content: start;
}

.prec1{
    font-size: 1.4rem;
    color: hsl(158, 36%, 37%);
}

.prec2{
    font-size: 0.6rem;
    color: hsla(228, 12%, 48%, 0.7);
    margin: auto 0;
    text-decoration:line-through;
    padding-left: 20px;
}

.cont--a{
    width: 100%;
    background-color: hsl(158, 36%, 37%);
    height: 40px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.cont--a:hover{
    background-color: hsl(158, 73%, 16%);
}

.cont--a a{
    font-size: 0.8rem;
    text-decoration: none;
    font-family: 'Fraunces', serif;
    color: hsl(0, 0%, 100%);
    margin-left: 10px;
}

@media screen and (max-width: 375px) {
    .contenedor{
        flex-direction: column;
        width: 90%;
        height: 100vh;
        margin: 30px auto;
    }

    .sec1{
        width: 100%;
        height: 50%;
        border-radius: 20px 20px 0 0;
    }

    img{
        border-radius: 20px 20px 0 0;
        content: url("/images/image-product-mobile.jpg");
    }

    .sec2{
        width: 100%;
        height: 50%;
        border-radius: 0 0 20px 20px;
        padding: 10px 23px;
    }

    .p1, .p2{
        font-size: 14px;
    }

    .prec1{
        font-size: 2rem;
    }

    .prec2{
        font-size: 1.1rem;
    }

    .sec2 h1{
        font-size: 2rem;
        margin-bottom: 0;
    }

    .cont--a{
        height: 50px;
    }

    .cont--a a{
        font-size: 1rem;
    }
}
/*$(".img").attr("src","/images/image-product-mobile.jpg");*/